{% load app_tags %}

<div x-data="{ expanded: false }" class="relative">
  <div class="relative">
    {% if media.group_items %}
      <div class="absolute inset-0 bg-card rounded-lg translate-y-2 translate-x-1.5 opacity-30"></div>
      <div class="absolute inset-0 bg-card rounded-lg translate-y-1 translate-x-0.5 opacity-50"></div>
    {% endif %}
    <div class="relative">
      {% include "app/components/backlog_card.html" with media=media status_choices=status_choices %}
      {% if media.group_items %}
        <div class="border-t border-gray-700/50 px-3 py-1.5 bg-card rounded-b-lg">
          {% include "app/components/group_expand_button.html" with count=media.group_items|length %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if media.group_items %}
    <div x-show="expanded" x-cloak x-transition:enter="transition ease-out duration-200"
         x-transition:enter-start="opacity-0 -translate-y-2"
         x-transition:enter-end="opacity-100 translate-y-0"
         class="ml-6 mt-2 space-y-2 border-l-2 border-accent/30 pl-4 pb-2">
      {% for sub in media.group_items %}
        {% include "app/components/backlog_card.html" with media=sub status_choices=status_choices %}
      {% endfor %}
    </div>
  {% endif %}
</div>
