{% load app_tags %}

{% for media in media_list %}
  <div {% if forloop.last and media_list.has_next %} hx-get="{% url 'medialist' media_type %}?page={{ media_list.next_page_number }}" hx-trigger="revealed threshold:200px" hx-swap="afterend" hx-include="#filter-form" hx-indicator="#loading-indicator" {% endif %}>
    {% if media.is_group %}
      {% include "app/components/media_list_grid_card_group.html" with group=media %}
    {% else %}
      {% include "app/components/media_list_grid_card.html" with media=media %}
    {% endif %}
  </div>
{% endfor %}
