{% load app_tags %}

<div class="bg-card rounded-lg overflow-hidden shadow-lg transition-all duration-300">
  <div class="relative">
    <a href="{{ media.item|media_url }}">
      <img alt="{{ media }}"
           class="lazyload w-full aspect-2/3 {% if media.item.image != IMG_NONE %}object-cover{% endif %}"
           data-src="{{ media.item.image }}"
           src="{{ IMG_NONE }}">
    </a>

    {% if media.next_event and not media.next_event.is_max_datetime %}
      <div class="absolute top-2 left-1/2 -translate-x-1/2 flex items-center gap-1.5 bg-black/80 px-2 py-1.5 rounded-md shadow-md whitespace-nowrap max-w-[98%]">
        {% include "app/icons/clock.svg" with classes="w-3.5 h-3.5 text-accent-soft" %}
        <span class="text-xs font-medium text-white drop-shadow-sm truncate">
          {% if media.next_event.content_number %}
            {{ media.item.media_type|short_unit }}{{ media.next_event.content_number }}
          {% else %}
            Release
          {% endif %}
          &bull; {{ media.next_event.datetime|natural_day:user }}
        </span>
      </div>
    {% endif %}

    {% if media.status %}
      <div class="absolute {% if media.next_event and not media.next_event.is_max_datetime %}top-10{% else %}top-2{% endif %} left-2 bg-gray-900/90 text-white text-xs px-2 py-1 rounded-md flex items-center shadow-md">
        {% if media.status == Status.COMPLETED.value %}
          <div class="w-4 h-4 {{ Status.COMPLETED.value|status_color }} {% if media.start_date or media.end_date %}mr-1.5{% endif %}">
            {% include "app/icons/states/completed.svg" %}
          </div>
        {% elif media.status == Status.IN_PROGRESS.value %}
          <div class="w-4 h-4 {{ Status.IN_PROGRESS.value|status_color }} {% if media.start_date or media.end_date %}mr-1.5{% endif %}">
            {% include "app/icons/states/in-progress.svg" %}
          </div>
        {% elif media.status == Status.PAUSED.value %}
          <div class="w-4 h-4 {{ Status.PAUSED.value|status_color }} {% if media.start_date or media.end_date %}mr-1.5{% endif %}">
            {% include "app/icons/states/paused.svg" %}
          </div>
        {% elif media.status == Status.PLANNING.value %}
          <div class="w-4 h-4 {{ Status.PLANNING.value|status_color }} {% if media.start_date or media.end_date %}mr-1.5{% endif %}">
            {% include "app/icons/states/planning.svg" %}
          </div>
        {% elif media.status == Status.DROPPED.value %}
          <div class="w-4 h-4 {{ Status.DROPPED.value|status_color }} {% if media.start_date or media.end_date %}mr-1.5{% endif %}">
            {% include "app/icons/states/dropped.svg" %}
          </div>
        {% endif %}

        {% if media.end_date is not None %}
          <span class="text-sm text-white">{{ media.end_date|date_format:user }}</span>
        {% elif media.start_date is not None %}
          <span class="text-sm text-white">{{ media.start_date|date_format:user }}</span>
        {% endif %}
      </div>
    {% endif %}

    {% if media.score|show_media_score:user %}
      <div class="absolute top-2 right-2 bg-gray-900/90 text-white text-xs px-2 py-1 rounded-md flex items-center shadow-md">
        {% include "app/icons/star.svg" with classes="w-4 h-4 text-yellow-400 mr-1 fill-current" %}
        <span class="text-sm text-white">{{ media.formatted_score }}</span>
      </div>
    {% endif %}

    {% if media.progress and media_type != MediaTypes.MOVIE.value %}
      <div class="absolute bottom-2 left-2 bg-gray-900/90 text-white text-xs px-2 py-1 rounded-md flex items-center shadow-md">
        <span class="text-sm text-white">
          {{ media.formatted_progress }}
          {% if media.max_progress %}/ {{ media.max_progress }}{% endif %}
        </span>
      </div>
    {% endif %}

    {% if media.repeats > 1 %}
      <div class="absolute bottom-2 right-2 bg-gray-900/90 text-white text-xs px-2 py-1 rounded-md flex items-center shadow-md">
        {% include "app/icons/repeat.svg" with classes="w-4 h-4 text-slate-200 mr-1" %}
        <span class="text-sm text-white">{{ media.repeats }}</span>
      </div>
    {% endif %}

    <div class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-0 hover-tap:opacity-100{% if user.clickable_media_cards %} pointer-coarse:hidden{% endif %}">
      <a href="{{ media.item|media_url }}" class="absolute inset-0"></a>
    </div>
  </div>

  <div>
    <div class="p-3 space-y-3">
      <a href="{{ media.item|media_url }}"
         class="text-sm font-semibold text-white hover:text-accent-soft transition duration-300 line-clamp-1 text-center"
         title="{{ media }}">{{ media }}</a>
    </div>
    <div id="progress-{{ media.item.media_type }}-{{ media.id }}">
      {% include "app/components/progress_changer.html" with media=media user=user csrf_token=csrf_token MediaTypes=MediaTypes only %}
    </div>
  </div>

</div>
